section#articles {
    min-height: calc(100vh - 70px);
    background: #7f91a2 !important;
    padding: 1rem;
}

section#articles ul li {
    margin-bottom: 20px;
}

section#articles ul li a.card{
    display: inline-block;
    width: 100%;
    background: white;
    padding: 1rem;
    margin-bottom: 1rem;
    height: 300px;
    overflow: hidden;
    border-radius: .30rem;
}


section#articles li a figure {
    width: 100%;
    height: 200px !important;
    overflow: hidden !important;
}

section#articles li a figure img {
    width: 100%;
    
}